$button-group-spacing : 4px !default;
$indent-padding: 16px !default;
$inline-input-margin : 4px !default;
$icon-button-group-spacing : 2px !default;
$page-section-spacing : 16px !default;
$section-spacing : 8px !default;

.border-collapse {
  border-collapse: collapse;
}

.flex-grow-1 {
  flex-grow: 1;
}

.inline-block {
  display: inline-block;
}

.pl-inline-input {
  margin-left: $inline-input-margin;
}

.pr-inline-input {
  margin-right: $inline-input-margin;
}

.px-inline-input {
  margin-right: $inline-input-margin;
  margin-left: $inline-input-margin;
}

.shrink-table-column {
  width: 1px;
}

.sticky-header-table {
  thead,
  tfoot {
    tr {
      background: white;
    }

    th,
    td {
      position: sticky;
      z-index: 1;
    }
  }

  thead {
    th,
    td {
      top: 0;
    }
  }

  tfoot {
    th,
    td {
      bottom: 0;
    }
  }
}

.x-button-group-member + .x-button-group-member {
  margin-left: $button-group-spacing;
}

.x-icon-button-group-member + .x-icon-button-group-member {
  margin-left: $icon-button-group-spacing;
}

.x-indent {
  padding-left: $indent-padding;
}

.x-page-section + .x-page-section {
  margin-top: $page-section-spacing;
}

.x-section + .x-section {
  margin-top: $section-spacing;
}
