@use "sass:map";

@import "~quasar/src/css/variables.sass";

$button-group-spacing : map.get($space-sm, "x") !default;
$indent-padding : map.get($space-lg, "x") !default;
$icon-button-group-spacing : map.get($space-xs, "x") !default;
$page-section-spacing : map.get($space-lg, "y") !default;
$section-spacing : map.get($space-md, "y") !default;
$subsection-spacing : map.get($space-sm, "y") !default;

.border-collapse {
  border-collapse: collapse;
}

.flex-grow-1 {
  flex-grow: 1;
}

.inline-block {
  display: inline-block;
}

.shrink-table-column {
  width: 1px;
}

.sticky-table {
  thead,
  tfoot {
    tr {
      background: white;
    }

    th,
    td {
      position: sticky;
      z-index: 1;
    }
  }

  thead {
    th,
    td {
      top: 0;
    }
  }

  tfoot {
    th,
    td {
      bottom: 0;
    }
  }
}

.m-date-no-header .q-time__header {
  display: none;
}

.m-button-group-member + .m-button-group-member {
  margin-left: $button-group-spacing;
}

.m-icon-button-group-member + .m-icon-button-group-member {
  margin-left: $icon-button-group-spacing;
}

.m-indent {
  padding-left: $indent-padding;
}

.m-page-section + .m-page-section {
  margin-top: $page-section-spacing;
}

.m-section + .m-section {
  margin-top: $section-spacing;
}

.m-subsection + .m-subsection {
  margin-top: $subsection-spacing;
}
